<div style="width: 300px; margin: 0 auto;">
  <p class="text-center">Create New Account</p>
  <form action="/accounts" method="POST">
    Account Name: <input type="text" name="name"><br>
    Account Phone: <input type="text" name="phone"><br>
    <input type="submit">
  </form>
</div>
<br>
<table style="width: 100%;">
 	<tr>
 		<th>SFID</th>
    	<th>Name</th>
    	<th>Phone</th>
	</tr>
<% @accounts.each do |account| %>
  	<tr>
  		<td><%=account.sfid%></td>
  		<td><%=account.name%></td>
  		<td><%=account.phone%></td>
  		<td><button class="delete" data-id="<%=account.id%>">DELETE</button></td>
  	</tr>
<%end%>
</table>


